body, html {
height: 100%;
width: 100%;
margin: 0;
overflow: hidden;
}

#myVideo {
object-fit: fill;
position: fixed;
right: 0;
bottom: 0; 
width: 100%;
height: 100%;
}

.image-container{
opacity: 0; 
animation: delayImage 6.38s forwards;
position: fixed;
width: 100%;
height: 100%;

}

@keyframes delayImage {
    0% {
        opacity: 0;
        width: 0;
        height: 0;
    }
    99%{
        opacity: 0;
        width: 0;
        height: 0;
    }
    100% {
        opacity: 1;
     

    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1; 
       
    }
    }
.image-container img {
animation: fadeIn 1s ease-in 6.4s forwards;
position: fixed;
right: 0;
bottom: 0;
width: 100%;
height: 100%;
}


